@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top: -70px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-black bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill habilidad"></i>
            <h3>Back-End</h3>
            <p>
                Aprendiendo sobre el uso de las tecnologias .NET para su uso en el Back-End, he aprendido y usado varias algoritmos para la resolucion de problemas, tambien he adoptado metodologias usadas por grandes programadores para solucionar problemas.
            </p>

            <p class="text-primary cabecena">
                Stack:
            </p>
            <p>ASP.NET Core, SQL Server, MySQL</p>

            <p class="text-primary cabecena">
                Experiencia:
            </p>

            <Ul>
                <li>C#</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Queries Especiales</li>
            </Ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash habilidad"></i>
            <h3>Front-End</h3>
            <p>Puedo crear diseños de paginas webs, los cuales cuplen con los estandares y requerimientos de negocios. Todo esto a traves del uso de combinaciones de colores y matices para que sean llamativo al ojo humano</p>
            <p class="text-primary cabecena">
                Stack:
            </p>
            <p>Blazor</p>

            <p class="text-primary cabecena">
                Experiencia:
            </p>

            <Ul>
                <li>Boostrap</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </Ul>
        </div>
    </div>
</div>