@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Soy Julio Sierra</h1>
    <h2>Soy un programador junior .NET y estudiante de la carrera Ingenieria en Sistemas y tengo 21 anos</h2>

    <img id="foto"
         src="~/imagenes/Prueba.jpg" alt="Foto de prueba" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/Imagenes/dotnet.png" alt="Imagen de .NET" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Mi nombre es Julio Sierra, estudiante de la carrera ingenieria en sistemas en la Universidad Tecnologica de Santiago (UTESA)
            Me especializo en el area de la programacion, principalmente en el entorno .Net con C#, con el cual he realizado varios proyectos y
            aplicaciones de escritorio con diferentes funciones y objetivos, todo mi conocimiento ha sido adquirido atraves de mi propia busqueda y cursos tomados.
        </p>
    </div>
</div>