@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Soy Julio Sierra</h1>
    <h2>Soy un programador junior y estudiante de la carrera Ingenieria en Sistemas</h2>
</div>
